TELEGRAM_BOT_TOKEN=
JOB_RUNNER_SECRET=
AUTH_LOGIN_URL=https://manus.im
AUTH_BYPASS_LOCAL=false
AUTH_BYPASS_LOCAL_USER_ID=local-dev
AUTH_BYPASS_LOCAL_USER_NAME=Local Developer
AUTH_BYPASS_LOCAL_USER_EMAIL=
AUTH_USER_ID_HEADER=x-auth-user-id
AUTH_USER_NAME_HEADER=x-auth-user-name
AUTH_USER_EMAIL_HEADER=x-auth-user-email
AUTH_SESSION_COOKIE=auth_user_id
